spring:
  datasource:
    url: jdbc:mysql://localhost:3306/listing_app?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: 2021JavaForTest@gmail.com
    password: forTest2021
    properties:
      mail:
        smtp:
          auth: true
        starttls:
          enable: true


logging:
  file:
    path: E:/springProjects/rest/log
    name: listing-app.log


site:
  url: http://localhost:8080